:root{
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
  
}
header {
    height: 50vh;
    font-size: 30px;
    font-style: initial;
    background: linear-gradient(to right bottom,#02381c,#02530f) ;
    display: grid;
    place-items: center ;
    box-shadow: 0px 4px 4px #fff;
    text-align: center;
}
h1 {
    margin: 0;
    text-shadow: 0px 4px 4px #0004;
    width: 20ch;
}

.profile {
    position: relative;
    top: -100px; 
    border: 5px dotted greenyellow;
    text-align: center;
}



.profile__avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    box-shadow: 0px 4px 4px #0004;
}

.profile__copy {
    margin: 32px auto;
    max-width: 120ch;
    font-style: italic;
}

.profile__social {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: fit-content;
    color: #0085ff;
}